<html>
	<head>
		<meta name="author" content="Edoardo Lenzi">
		<meta name="author" content="Marco Iuri">
		<meta name="license" content="GPL-3.0">
		<title>Product Configuration</title>
		<link rel="stylesheet" type="text/css" href="arc-reactor.css">
		<link rel="shortcut icon" type="image/png" href="../../assets/favicon.ico"/>	
	</head>
	<body>
		<!--Placeholder for view injection-->
		<div id="container" class="transparent"></div>
		<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../../utils/utils.js"></script>
		<script src="../../libs/three.min.js"></script>
		<script src="../../libs/OrbitControls.js"></script>
		<script src="../../libs/GLTFLoader.js"></script>
		<script src="../../libs/BufferGeometryUtils.js"></script>
		<script src="../../libs/Tween.js"></script>		
		<script src="../../models/animated-mesh.js"></script>
		<script src="../../utils/event-listeners.js"></script>
		<script src="../../utils/camera-manager.js"></script>
		<script src="../../utils/light-manager.js"></script>
		<script src="../../utils/inspector-manager.js"></script>
		<script src="../../utils/material-manager.js"></script>
		<script src="../../shaders/coil/coil-shader-material.js"></script>
		<script src="../../shaders/emissive/emissive-shader-material.js"></script>
		<script src="../../shaders/grid/grid-shader-material.js"></script>
		<script src="../../shaders/inner-rings/inner-rings-shader-material.js"></script>
		<script src="../../shaders/metal/metal-shader-material.js"></script>
		<script src="../../libs/stats.min.js"></script>
		<script src="arc-reactor.js"></script>
	</body>
</html>