html, body{
	width: 100%;
	height: 100%;
	background-color: white;
	margin: 0;
	overflow: hidden;
	font-family: Arial;
}


#container{
	width:100%;
	height: 100%;
	text-align:center;
	display: flex;
	position: absolute;
}


.transparent{
	background-color: rgba(255, 255, 255, 0);
}


iframe{
	border: none;
}


canvas{
	width: 50%
}


.grow { 
	transition: all .0s ease-in-out; 
}


.grow:hover { 
	transform: scale(1.1); 
}


.icon{
	font-size: 30px; 
	color: white;
	justify-content: flex-end;
	align-self: flex-end;
	margin: 10px;
}


#buttons-bar{
	width: 100%;
	justify-content: flex-end;
	align-self: flex-end;
	display: flex;
}


.visible{
	display: block;
}


.invisible{
	display: none;
}