<html>
	<head>
		<meta name="author" content="Edoardo Lenzi">
		<meta name="author" content="Marco Iuri">
		<title>Product Configuration</title>
		<link rel="stylesheet" type="text/css" href="arc-reactor.css">
		<link rel="shortcut icon" type="image/png" href="../../assets/favicon.ico"/>

		
	</head>
	
	<body>
		
		<div id="container"></div>
		
		<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../../utils/utils.js"></script>
		<script src="../../libs/three.min.js"></script>
		<script src="../../libs/Coordinates.js"></script>
		<script src="../../libs/OrbitControls.js"></script>
		<script src="../../libs/GLTFLoader.js"></script>
		<script src="../../libs/dat.gui.min.js"></script>		
		<script src="../../libs/stats.min.js"></script>
		<script src="../../models/AnimatedMesh.js"></script>
		<script src="../../utils/event-listeners.js"></script>
		<script src="../../utils/gui-manager.js"></script>
		<script src="../../utils/camera-manager.js"></script>
		<script src="../../utils/light-manager.js"></script>
		<script src="../../utils/animation-manager.js"></script>
		<script src="../../utils/inspector-manager.js"></script>
		<script src="../../utils/material-manager.js"></script>
		<script src="arc-reactor.js"></script>
	</body>
</html>