
<link rel="stylesheet" type="text/css" href="../inspector/inspector.css">
<div id="container">
    <div id="info">
        <span style="font-size:20px; color: white">
            {description}
        </span>
    </div>
            <div id="buttons-bar">
                <span class="icon" onclick="CloseInspector()" data-toggle="tooltip" title="Close inspector">
                    <i class="grow fa fa-times"></i>
                </span>
            </div>

    <iframe id="inspector-controls" class="transparent" onLoad="autoResize();" src="../inspector-controls/inspector-controls.html"></iframe>
</div>

<script language="javaScript">
    function autoResize(){
        $('#inspector-controls').height($('#inspector-controls').contents().height());
        $('#inspector-controls').width($('#inspector-controls').contents().width());
    }
</script>

<link href="../../node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>