#container{
	width:100%;
	height: 100%;
	text-align:center;
	display: flex;
	position: absolute;
}


#inspector-controls{
    width: 80vw;
    height: 20vh;
    margin-top: 80vh;
    margin-left: 10vw;
    margin-right: 10vw;
    position: absolute;
}


.icon{
	font-size: 30px; 
	color: white;
	justify-content: flex-end;
	align-self: flex-end;
	margin: 10px;
}


#buttons-bar{
	width: 100%;
	justify-content: flex-end;
	align-self: flex-end;
	display: flex;
}