<html>
	<head>
		<meta name="author" content="Edoardo Lenzi">
		<meta name="author" content="Marco Iuri">
		<title>Inspector-Controls</title>
		<link rel="stylesheet" type="text/css" href="inspector-controls.css">
		<link rel="shortcut icon" type="image/png" href="../../assets/favicon.ico"/>
	</head>
	<body>
		<script src="../../libs/three.min.js"></script>
		<script src="../../libs/OrbitControls.js"></script>
		<script src="../../libs/stats.min.js"></script>
		<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../../models/animated-mesh.js"></script>
		<script src="../../models/box-material.js"></script>
		<script src="../../utils/event-listeners.js"></script>
		<script src="../../libs/BufferGeometryUtils.js"></script>
		<script src="../../utils/camera-manager.js"></script>
		<script src="../../utils/light-manager.js"></script>
		<script src="inspector-controls.js"></script>
	</body>
</html>